<div class="task-container__form">
    <form class="task-form" (ngSubmit)="onSubmit()" action="" [formGroup]="form">
        <mat-form-field style="width: 100%;">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="title" formControlName="title">
        </mat-form-field>

        <mat-form-field class="task-field">
            <mat-label>Description</mat-label>
            <textarea matInput class="task-textarea" name="description" id="description" cols="30" rows="10"
                formControlName="description"></textarea>
        </mat-form-field>
        <button type="submit" class="btn-submit">
            @if(id){
            Update
            }
            @else {
            Add task
            }
        </button>
    </form>
</div>