<div class="auth-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form" action="" method="post">
        @if (errorMessages().length) {
            @for (error of errorMessages(); track $index) {
                <p class="auth-error">{{error}}</p>
            }
        }
        <div class="auth-field">
            <label class="auth-label" for="email">Email</label>
            <input
                formControlName="email" 
                class="auth-input" id="email" name="email" type="text" placeholder="name">
        </div>
        <div class="auth-field">
            <label class="auth-label" for="name">Name</label>
            <input
                formControlName="username" 
                class="auth-input" id="username" name="username" type="text" placeholder="name">
        </div>
        <div class="auth-field">
            <label class="auth-label" for="password">Password</label>
            <input
                autocomplete="on"
                formControlName="password" 
                class="auth-input" name="password" id="password" type="password" placeholder="your password">
        </div>
        <button class="btn-submit" type="submit" [disabled]="form.invalid">Register</button>
        <div class="auth-links">
            
            <a routerLink="/auth/login">Login</a>
        </div>
    </form>
   
</div>