<div class="auth-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form" action="" method="post">
        @if (errorMessages().length) {
        @for (error of errorMessages(); track $index) {
        <p class="auth-error">{{error}}</p>
        }}
        <mat-form-field>
            <mat-label>Email </mat-label>
            <input matInput formControlName="email" id="email" name="email" type="text" placeholder="name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Full name</mat-label>
            <input matInput formControlName="username" id="username" name="username" type="text" placeholder="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>

            <input formControlName="password" name="password" id="password" matInput
                [type]="hide() ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button class="btn-submit" type="submit" [disabled]="form.invalid">Register</button>
        <div class="auth-links">
            <a routerLink="/auth/login">Login</a>
        </div>
    </form>

</div>