<div class="task-card">
    <div class="task-options">
        <h2>{{task.title}}</h2>
        <div class="task-icons">

            <button mat-button [matMenuTriggerFor]="menu"> <mat-icon color="tertiary">more_vert</mat-icon> </button>
            <mat-menu #menu="matMenu" class="menu-icons">
                <!-- Menu items -->
                <button mat-menu-item class="m-icons">
                    <mat-icon>check_circle</mat-icon>
                    <p>Done</p>
                </button>
                <button mat-menu-item>
                    <mat-icon color="#1072ce">favorite</mat-icon>
                    <p>Favorite</p>
                </button>
                <a mat-menu-item [routerLink]="['/tasks/update', task.id]">
                    <mat-icon>edit_document</mat-icon>
                    <p>Update</p>
                </a>
                <button mat-menu-item (click)="onDelete(task.id)">
                    <mat-icon>delete</mat-icon>
                    <p>Delete</p>
                </button>
            </mat-menu>
        </div>
    </div>
    <p>{{task.description}}</p>

</div>