@import '../../../../scss/colors';

p {
    margin: 0;
}

button,
a {
    border: none;
    background: lighten($color: $gray, $amount: 8);
    padding: 0;
}

.task-card {
    background: lighten($color: $gray, $amount: 8);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        overflow: hidden;
    }

    .task-options {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .icons_options {
            display: flex;
            align-items: center;
        }
        .mat-mdc-menu-item {
            padding: 0;
        }

        p {
            font-size: 14px;
            font-weight: bold;
        }

    }

}

.icon_delete {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        color: $red;
    }
}

.icon_update {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    p {
        color: $sky;
    }
}