@import '../../../../scss/colors';
@import '../../../../scss/mixins';

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 1rem auto;



}

.searchbar {
    flex: 1;
    width: 100%;

    input[type="text"] {
        border: none;
        background: lighten($color: $gray, $amount: 8);
        padding: 10px;
        border-radius: 5px;
        display: block;

        @include tablet {
            width: 100%;
        }

        &:focus {
            outline: none;

        }
    }

}

.mat-mdc-form-field {
    width: 100%;

    @include tablet {

        width: 50%;
    }
}

ul {
    .logout {
        display: flex;
        align-items: center;

        button {
            color: $red;
        }
    }
}