@import '../../../../scss/colors';
@import '../../../../scss/mixins';

ul {

    margin: 2rem auto 0 auto;
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;

    @include tablet {
        display: contents;
        flex-direction: column;
        flex-wrap: wrap;

    }

    li {

        width: 100%;
        display: block;
        margin-block: 0.5rem;

        &:hover {
            cursor: pointer;
        }

        &:first-child {
            margin-top: 0;
        }

    }

    .active {
        box-sizing: border-box;
        background: $sky;
        padding: 10px;
        color: white;

    }
}