@import '../../../../scss/colors';
@import '../../../../scss/mixins';

ul{
    margin-top: 2rem;
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;

    @include tablet {
        flex-direction: column;
      
    }
    li {
        flex: 1;
        width: 100%;
        list-style: none;
        display: block;
        &:hover {
            cursor: pointer;
        }
    }
    .active {
        box-sizing: border-box;
        background: $sky;
        padding: 10px;
        color: white;

    }
}